# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Arquivos do sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Arquivos temporários
*.log

# Dados gerados
data/output/
reports/report.pdf