# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Arquivos do sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# ==========================
# Dados do projeto
# ==========================

# Dataset oficial
data/raw/*.csv

# Arquivos gerados pelo pipeline
data/processed/*.csv
data/output/

# Relatórios gerados
reports/report.md
reports/report.json
reports/report.pdf