# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos do sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Arquivos temporários e logs
*.log

# Dados gerados automaticamente
data/output/
reports/report.pdf